/* Responsive layout */
.row {
  display: flex;
  height: min-content;
}

.row.header {
  height: min-content;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--kl-dark-2);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 32px 5px rgba(0, 0, 0, 0.2);
}

.row.fullpage {
  min-height: 100vh;
}

.col-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.col-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
}

.col-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 33.33%;
}

.col-1.center-v, .col-2.center-v, .col-3.center-v {
  align-items: center;
}

.col-1.center-h, .col-2.center-h, .col-3.center-h {
  justify-content: center;
}

.rounded-s {
  border-radius: var(--border-radius-small);
}

.rounded-m {
  border-radius: var(--border-radius-medium);
}

.rounded-l {
  border-radius: var(--border-radius-large);
}

.rounded {
  border-radius: 100%;
}

.shadow {
  box-shadow: 0 0 32px 5px rgba(0, 0, 0, 0.2);
}

.input-title {
  margin-left: 8px;
  color: var(--kl-light-3);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
}

.background-image {
  display: block;
  width: 100%;
  height: min-content;
  width: min-content;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.space-h {
  display: flex;
  min-height: 20px;
}

.space-v {
  display: flex;
  min-width: 20px;
}